.main_content {
  width: 100%;
  height: auto;
}

.main_section {

}

.main_background {

}

/* carousel bootstrap code */
.main_carousel {
}

.carousel-indicators > li {
    background-color: #fff;
    border: none;
    margin: 2px;
    opacity: 0.8;
}

/* Carousel Styles */
.carousel-indicators .active {
    background-color: #555;
    width: 11px;
    height: 11px;
    opacity: .5;
}

.carousel-indicators > li:hover {
    background-color: #555;
    opacity: .5;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.carousel-inner img {
    width: 100%;
    max-width: 100%;
    max-height: 500px
}

.carousel-control {
  background-image: none;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
	position: absolute;
	z-index: 5;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 30px;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 30px;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: 1;
	filter: alpha(opacity=70);
}

.carousel-control.left span,
.carousel-control.right span {
  font-size: 17px;
}

.carousel_img.m {
  display: none;
}


/* main_state */
.main_state {
  background-color: #1c4489;
}

.main_state_wrapper {
  padding: 30px 0 30px;
  height: 148px;
  max-width: 1140px;
}

.main_state_itemList {
  display: block;
  width: 100%;
  height: auto;
}

.main_state_item {
  display: inline-block;
  width: 19.5%;
  height: 88px;
}

.main_state_item.last {
  border-right: 1px solid #396597;
}

.main_state_item.first {
  border-left: 1px solid #396597;
  border-right: 1px solid #396597;
}

.wpb_text_column {
    text-align: center;
}

.stateTitle {
      color: #ffffff;
      font-size: 17px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 15px;
}

.stateInfo {
  color: #fff; font-size: 23px; font-weight: 600;
}


/* media query */
@media all and (max-width: 320px) {
  .carousel_img.m {
    display: block;
  }

  .carousel_img.w {
    display: none;
  }
}

@media all and (min-width: 321px) and (max-width: 768px) {
  .carousel_img.m {
    display: none;
  }

  .carousel_img.w {
    display: block;
  }
}

@media all and (min-width: 769px) and (max-width: 1124px) {
  .carousel_img.m {
    display: none;
  }

  .carousel_img.w {
    display: block;
  }
}

@media all and (min-width: 1125px) {
  .carousel_img.m {
    display: none;
  }

  .carousel_img.w {
    display: block;
  }
}
